.user-input {
  background: transparent;
  color: white;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 15px;
  border: none;
  font-size: 24px;
  &:focus {
    background: transparent;
    border: none;
  }
}

.simple-keyboard {
  color: black;
}
