.book-window-card {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80%;
  width: 100%;
  margin-top: 5%;
  margin-left: 2%;
}

.event-label {
  font-size: 24px;
  color: white;
  padding: 0 0 3% 0;
}

.event-title-text-container {
  width: 85%;
  height: 40%;
}

.event-title-text {
  width: 100%;
  color: white;
  background-color: rgba(40, 40, 40, 0.5);
  font-size: 24px;
  border: none;
  font-family: serif;
  padding: 15px;
}

.event-footer {
  margin-top: 15%;
  margin-left: 2%;
  color: white;
}

mat-select {
  padding: 10px;
  width: 35%;
  color: white;
  border-bottom: 1px solid white;
}

.select-start-time {
  margin-right: 8%;
}

mat-option {
  background-color: #424242;
  width: 100%;
  padding: 10px;
}

mat-select,
mat-option,
mat-placeholder {
  color: white;
  font-size: 20px;
}
