<mat-card class="book-window-card">
  <mat-card-header class="event-label">Event Title</mat-card-header>
  <mat-card-content class="event-title-text-container">
    <textarea matInput #eventTitle placeholder="The Best Meeting" class="event-title-text" rows="5"></textarea>
  </mat-card-content>
  <mat-card-footer class="event-footer">
    <mat-select #eventStart class="select-start-time" placeholder="Start Time"
      (selectionChange)="startSelected($event)">
      <mat-option *ngFor="let time of timeIncrements" [value]="time" [disabled]="time.validStart === false">
        <span *ngIf="time.validStart; else elseBlock">{{time.viewValue}}</span>
        <ng-template #elseBlock>{{time.viewValue}} [Busy]</ng-template>
      </mat-option>
    </mat-select>
    <mat-select #eventEnd class="select-end-time" placeholder="End Time" (selectionChange)="endSelected($event)">
      <mat-option *ngFor="let time of timeIncrements" [value]="time" [disabled]="time.validEnd === false">
        <span *ngIf="time.validEnd; else elseBlock">{{time.viewValue}}</span>
        <ng-template #elseBlock>{{time.viewValue}} [Busy]</ng-template>
      </mat-option>
    </mat-select>
  </mat-card-footer>
</mat-card>